/* app css stylesheet */


@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab:300);

body {
  font-family: "Josefin Sans", "Helvetica", "Garamond", Serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto;
  color: #fff;
  background: #ff7b0d;
  background: -moz-linear-gradient(45deg,  #ff7b0d 0%, #913ed1 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff7b0d), color-stop(100%,#913ed1));
  background: -webkit-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: -o-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: -ms-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#913ed1',GradientType=1 ); 
  background-size: 200% 200%; 
}
.day {
  background: #1e5799;
  background: -moz-linear-gradient(45deg,  #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
  background: -o-linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
  background: -ms-linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
  background: linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  background-size: 200% 200%;
}
.night {
  background: #0f1219;
  background: -moz-linear-gradient(45deg,  #0f1219 0%, #3f4c6b 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0f1219), color-stop(100%,#3f4c6b));
  background: -webkit-linear-gradient(45deg,  #0f1219 0%,#3f4c6b 100%);
  background: -o-linear-gradient(45deg,  #0f1219 0%,#3f4c6b 100%);
  background: -ms-linear-gradient(45deg,  #0f1219 0%,#3f4c6b 100%);
  background: linear-gradient(45deg,  #0f1219 0%,#3f4c6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1219', endColorstr='#3f4c6b',GradientType=1 );
  background-size: 200% 200%;
}
.sunset {
  background: #ff7b0d;
  background: -moz-linear-gradient(45deg,  #ff7b0d 0%, #913ed1 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff7b0d), color-stop(100%,#913ed1));
  background: -webkit-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: -o-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: -ms-linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  background: linear-gradient(45deg,  #ff7b0d 0%,#913ed1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#913ed1',GradientType=1 ); 
  background-size: 200% 200%; 
}
h1, h2 {
  font-family: "Josefin Slab";
}
h1 {
  font-size: 90px;
  line-height: 112px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h2 {
  font-size: 54px;
  line-height: 56px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h3 {
  font-size: 33px;
  line-height: 56px;
  margin-top: 28px;
  margin-bottom: 28px;
}
h4 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
}
p, ol, pre, table, blockquote {
  margin-top: 28px;
  margin-bottom: 28px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
}
.container-fluid {
  overflow: visible;
}
.menu {
  list-style: none;
  border-bottom: none;
  margin-bottom: 2em;
  width: 100%;
  position: fixed;
}
.menu a {
    color: #333;
}
#tab-1 {
  display: inline;
  position: relative;
  width: 50%;
  background-color: #fcfcfc;
  margin: 0px;
  padding-top: 0px;
}
#tab-1 > a {
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding-top: 0px;
}
#tab-2 {
  display: inline;
  position: relative;
  width: 50%;
  background-color: #fcfcfc;
  margin: 0px;
  padding-top: 0px;
}
#tab-2 > a {
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding-top: 0px;
}
.block {
  border-top: 1px solid rgba(255,255,255,0.07);
}
.block:hover {
  background-color: rgba(255,255,255,0.07);
}
#background1 {

}
#highlight {
  background-color: yellow;
  position: absolute;
  z-index: -1;
  height: 210px;
  width: 85%;
  top: 10%;
}
#background2 {
background-image: url('');
}
.mouse-bg {
left: 0;
right: 0;
bottom: 0;
top: 0;
position: fixed;
z-index: -1;
}
.item { width: 30%; background-color: red; display: inline-block;}
.item > img {
    overflow: hidden;
}
.item.item-feat { width: 50%; background-color: yellow;}
.navbar {
  border: none;
}
#main {
  margin-top: 30px;
}
.thumbnail-image {
  padding: 0px !important;
}
.thumbnail-image img {
  display: inline;
  overflow: hidden;
}
.remove-bottom {
  margin-bottom: 0px;
}
.remove-top {
  margin-top: 0px;
}
.gray {
  color: rgba(255,255,255,0.5);
}
#contact {
  margin-top: 40px;
}
#contact i {
  color: rgba(255,255,255,0.5);
}
#contact i:hover {
  color: #fff;
}
.jumbotron {
  background: none;
}
#back {
  position: absolute;
  padding: 20px;
}